* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1rem;
}

:root {
  --clr-primary: 0 0% 100%;
  --clr-secondary: 0 0% 0%;
  --clr-accent: 87 100% 70%;
  --clr-grey: 0 0% 95%;
}

body {
  background: hsla(var(--clr-primary));
  color: hsla(var(--clr-secondary));
  transition: 0.3s ease;
}

body.dark {
  --clr-primary: 0 0% 10%;
  --clr-secondary: 0 0% 100%;
  --clr-grey: 0 0% 20%;
}

body {
  /* padding: 0 6.25rem; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8.75rem;
}

/* Global Styles */
button {
  height: fit-content;
  padding: 1.25rem 2.18rem;
  border-radius: 0.875rem;
  cursor: pointer;
  border: none;
  background-color: hsla(var(--clr-primary));
}

h1 {
  font-size: 2.5rem;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
}
/* Utility Classes */
.btn-outline {
  border: 1px solid hsla(var(--clr-secondary));
  background: hsla(var(--clr-primary));
}

.btn-secondary {
  border: none;
  background: hsla(var(--clr-secondary));
  color: hsla(var(--clr-primary));
}

.btn-secondary:hover {
  background: hsla(var(--clr-secondary) / 0.65);
  transition: all 150ms ease-in-out;
}

.btn-ghost {
  border: none;
  background: hsla(var(--clr-primary));
  color: hsla(var(--clr-secondary));
}

.landing {
  display: grid;
  gap: 1.25rem;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 8rem;
  height: auto;
}

.header__hamburger {
  padding: 0;
  border-radius: 0;
  width: 25px;
  height: 25px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  opacity: 0;
  visibility: hidden;

  transition: opacity .3s ease;

  z-index: 99;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.header__nav__sidebar {
  /* background-color: red; */
  z-index: 100;
  background-color: hsla(var(--clr-primary));
  box-shadow: 0 0 10px hsla(var(--clr-secondary) / 0.25);
  height: 100%;
  width: 80%;
  position: fixed;
  right: -100%;
  top: 0;
  transition: all 150ms ease-in-out;
  opacity: 0;
}

.header__nav__sidebar__open {
  right: 0;
  transition: all 150ms ease-in-out;
  opacity: 1;
}

.header__nav__sidebar__close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  height: 20px;
  width: 20px;
  border-radius: 0;
}

.header__hamburger > span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: hsla(var(--clr-secondary));
  margin: 0.25rem 0;
}

.header__nav {
  display: none;
}

.header__nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2.5rem;
}

.header__nav__list__item > a {
  text-decoration: none;
  color: var(--clr-secondary);
  cursor: pointer;
}

.header__nav__list__item > a:hover {
  opacity: 0.5;
  transition: all 150ms ease-in-out;
}

.hero {
  display: grid;
  /* grid-template-rows: fit-content 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
}

.hero > h1 {
  grid-column: 1/3;
  max-width: 31.125rem;
}

.hero > img {
  grid-column: 1/3;
  grid-row: 2/3;
  width: 100%;
  height: auto;
}

.hero__content {
  width: 100%;
  max-width: 33.18rem;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
  grid-row: 3/4;
  grid-column: 1/3;
}

.hero__content > p {
  max-width: 31.125rem;
}

.hero__content > button {
  width: fit-content;
}

/* Media Queries */

@media (width >= 1024px) {
  body {
    padding: 0 6.25rem;
  }

  .landing {
    gap: 4.25rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  .header {
    margin-top: 60px;
  }

  .header__logo {
    width: auto;
  }

  .header__nav__sidebar {
    display: none;
  }

  .header__hamburger {
    display: none;
  }

  .header__nav {
    display: flex;
    align-items: center;
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
  }
  .hero > h1 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .hero > img {
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .hero__content {
    margin-top: -3.5rem;
    grid-row: 2/3;
  }
}
